
<h1>Search Page</h1>

<br/>
<form action="{% url 'searchposts' %}" method="GET" value="{{request.GET.q}}">
Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
<input type="submit" name="submit" value="Search"/>
</form>


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>
<br/><br/>

{% for result in results %}

{{result.name}}
<br/>

{{result.category}}
<br/>

{% endfor %}
{% elif result1 %}
    <h1>results for<b>{{ request.GET.q }}</b></h1>
    <br/><br/>
    {% for result in result1 %}

    {{ result.name }}
    {% endfor %}
{% else %}
No search results for this query

{% endif %}
{% endif %}
